/* MovieDetails.module.css */

.container {
  padding: 20px 40px;
}

.button {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #053a76;
  border: 1px solid #0d57aa;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #aac3e0;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #165195;
  color: #ffffff;
}
